@page
@model IndexModel
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ragged Test</title>
	<link href="~/css/site.css" rel="stylesheet" type="text/css">
</head>

<body>
	<header>
		<h1>💬 Ragged Test</h1>
	</header>
	<main>
		<form id="subHeader">
			<span title="Group">👥&nbsp;<input id="groupInput" placeholder="Group" value='Default'></span>&nbsp;
			<input type="button" id="JoinButton" title="Join" type="submit" value="👍">&nbsp;
			<span title="Topic">📖&nbsp;<input id="topicInput" placeholder="Topic" value='Blah Blah Blah'></span>&nbsp;
			<span title="Status">⚠️&nbsp;<input readonly id="statusOutput" placeholder="Status"></span>
		</form>
		<div id="subMain">
			<ul id="messagesList" title="Messages"></ul>
			<ul id="usersList" title="Users"></ul>
		</div>
		<form id="subFooter">
			<span title="Name">👤&nbsp;<input id="nameInput" placeholder="Name" value='@Model.Name'></span>&nbsp;
			<span title="Message">💬&nbsp;<input id="messageInput" placeholder="Message" value="Hello World!?"></span>&nbsp;
			<input type="button" id="SendButton" title="Send" type="submit" value="👍">
		</form>
	</main>
	<footer>
		<h2>Ragged Test &copy; 2019</h2>
	</footer>
	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/site.js"></script>
</body>

</html>
