@page
@model IndexModel
<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<hr />
<div id="top">
	<div>
		📖<input type="text" id="topic" value='Blah Blah Blah' /><br>
		👤<input type="text" id="userInput" value='@ViewData["Name"]' /><br>
		💬<input type="text" id="messageInput" value="Hello World!?"/>
		<input type="button" id="sendButton" value="👍" />
	</div>
	<div>
		<ul id="usersList">
			<li>test</li>
			<li>test</li>
			<li>test</li>
		</ul>
	</div>
</div>
<hr />
<div id="container">
	<ul id="messagesList"></ul>
</div>
<hr />
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
