@page
@model IndexModel
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ragged</title>
	<link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<header>
		<h1>Header</h1>
	</header>
	<main>
		<form id="subHeader">
			📖<input type="text" id="topicInput" placeholder="Topic" value='Blah Blah Blah' /><br>
			👤<input type="text" id="nameInput" placeholder="Name" value='@ViewData["Name"]' /><br>
			👥<input type="text" id="groupInput" placeholder="Group" /><br>
		</form>
		<div id="subMain">
			<div id="scroll">
				<ul id="messagesList"></ul>
			</div>
			<div id="side">
				<ul id="usersList">
					<li>test</li>
					<li>test</li>
					<li>test</li>
				</ul>
			</div>
		</div>
		<form id="subFooter">
			💬<input type="text" id="messageInput" placeholder="Message" value="Hello World!?"/>
			<input type="button" id="sendButton" type="submit" value="👍" />
		</form>
	</main>
	<footer>
		<h2>Footer</h2>
	</footer>
	<script src="~/lib/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/site.js"></script>
</body>

</html>
