:root {
	--padding: 10px;
}

html, body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

input {
	flex: auto;
}

#subHeader {
	padding: var(--padding);
	background-color: red;
	display: flex;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	flex: content;
}

#subMain {
	background-color: green;
	display: flex;
	flex-direction: row;
	flex: content;
	overflow-y: hidden;
}

#subFooter {
	padding: var(--padding);
	background-color: blue;
	display: flex;
	align-items: center;
}

#messagesList {
	overflow-y: scroll;
	flex: auto;
}

#usersList {
	overflow-y: scroll;
	flex: auto;
}
